/* background-color: #303030; */

.searchUser{
      padding: 4px 10px;
      width: 100%;
      border-radius: 5px;
}

.header-index{
      margin-top: 40vh;
}

.button{
      padding: 5px 20px;
      background-color: #000000;
      border-radius: 5px;
      transition: ease 100ms;
}

.button:hover{
      background-color: #1f1f1f43;
}

.button:active {
  background-color: #2f2f2f;
  transform: translateY(4px);
}